<footer class="site-footer">
    <a name="resources"></a>
    <div class="onerow">
        <div class="bluebar">
            <h2 class="grey">Resources</h2>
            <p class="subtext">hipster house Tasty & Sons stripclubs IPA clouds Hawthorne breweries farm to table DIY secular humanists put a bird on it tulips Pearl District Saturday Market brewvana. James Mercer more rain indie rock microbrew tall bikes no, you go zinester nanobrewery vibrant Burnside gluten free The Bins unicycling with bagpipes and Darth Vader mask Belmont Hood to Coast IPA.
                <!--<h3 class="grey">Insights:</h3>
                <p class="subtext"><a href="http://thenewgroup.com/thoughts" target=_blank>www.thenewgroup.com/thoughts</a></p>-->
            <h3 class="grey">Questions:</h3>
            <p class="subtext"><a href="mailto:contactus@thenewgroup.com">contactus@newplayer.com</a></p>
            <p class="subtext"><a href="tel://5032484505">Phone: 503-248-4505</a>  |  Email <a href="mailto:info@thenewgroup.com">info@newplayer.com</a></p>
            <p class="copyright">&copy; New Player 2014-2015</p>
        </div>
    </div>
</footer>
<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>

